body {
        background-color: lightblue;
        font-family: 16px;
}

header {
        background-color: salmon;
        text-align:center;
        color: CadetBlue;
}
h1 {
	text-align:center;
}
h2 {
        font-style: italic;
        text-align: left;
}
h3 {
        color: pink;
}
div {
        background-color: linen;
        text-align: left;
}

footer {
        background-color: salmon;
        text-align: center;
        font-size:12px;

}

