


body {
    background-color: lightgray;
}

h1, h2, h3 {
    color: darkblue;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
}

h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

navbar {
    text-align: left;
}

{
<img src="Foto1" width="50" height="30" alt="alle Bilder">

}


p {
    color:darkblue;
    text-align: center;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

footer {
    text-align:left
    color: black
}

