


body {
    background-color: green;
}

h1, h2, h3 {
    color: red;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
}

h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

navbar {
    text-align: center;
}


p {
    color:black;
    text-align: center;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

footer {
    text-align:left
    color: black
}

