
body {
	background-color: grey;
}

h1 {
color: #FFEE00;
font-size: 26px;
text-align: center;
}

h2 {
color: #FFEE00;
font-size: 24px;
text-align: center;
}

p {
text-align: center; 
}

ul {
	list-style-type:none;
  display: flex;
  justify-content: center;
}

ul li a {
font-size: 20px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #000000;
}


div {
	margin-bottom: 20px;
}

a {
color: #FFEE00;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
