body {background-color:lightyellow}
h1 {color:orange; font-size:20px; text-align:center; font-family:Verdana;}
h2 {color:lightgreen; font-size:17px; text-align:center; font-family:Verdana;}
h3 {color:lightblue; font-size:15px; text-align:center; font-family:Verdana}
h4 {color:violet; font-size:13px; text-align:center; font-family:Verdana}
header {color: hotpink; text-align:center; background-color: lightpink; font-weight: bold; font-family:Arial;}
p {color:darkgrey; font-size:12px; text-align:center; font-family:Verdana}


