body {background-color: powderblue}
h1 {color:red; text-align: center; font-size: 20px;}
p {color: black; font-size: 15px;}
h2 {color: red; font-size: 18px;}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
