nav {
	background-color: burlywood;
	padding: 15px 0px;
}

ul {
display: flex;
justify-content: center;
list-style: none;
}

nav ul li a {
color: black;
text-decoration: none;
padding: 10px 20px;
font-size: 20px;
}

h1 {
font-size: 60px;
color:burlywood;
}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

p {
color: black;
}

a {
color: burlywood;

}

footer {
	padding: 15px 0px;
	border: 2px solid burlywood;
}
