
body {
    font-family: Arial;
    line-height: 1.6;
    margin: 20px;
}


h1 {
    font-size: 32px; background-color: orange;
   
}



h2 {
    font-size: 26px;

}



h3 {
    font-size: 20px;
    
}



p {
    font-size: 16px;
   
}

