body {
	background-color: #B2A4DE;
}

#nav-list{
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	color: #CFA4DE;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
 	border: 1px solid #e7e7e7;
	background-color: #B3DEA4;	
}

ul li a {
  display: block;
  color: #666666;
  padding: 14px 16px;
  text-decoration: none;
}

ul a:hover {
	color: #CFA4DE;
}

a:visited {
	color: darkblue;
}

ul li {
  float: left;
  border-right: 1px solid #bbbbbb;
}

h1,h2{
	text-align:center;
	margin-bottom: 30px;
	margin-top: 20px;
}

h2 {
	text-decoration-line: underline;
}

p {
	font-size: 20px;
	margin-left: 40px;
	margin-right: 40px;
}

hr {
	margin-top: 40px;
	margin-bottom: 40px;
	border-top:3px solid #A4B3DE;
}

.intro {
	font-size: 25px;
	font-weight: bold;
}

.descr {
	font-size: 22px;
}

.descr, .intro{
	text-align: center;
}

img {
	margin:auto;
	margin-bottom: 40px;
	display:block;
	width: 50%;
	border: 4px solid #A4B3DE;
}

footer {
	text-align:center;
}

footer a:hover {
	color:white
}

