body {
	    background-color: black;
	        font-family: verdana;
	}

	h1 {
			color: white;
				text-align: center;
					font-size: 30px;

				}

				h2 {
						color: white;
							text-align: center;
								font-size: 20px;

							}
							h3 {
									font-size: 15px;
										
								}


								p {
										color: white;
											font-size: 12px;
												text-align: justify;
													padding-left: 200px;
														padding-right: 200px;
															
													}
																
													img{
															padding-left: 325;
														}
